<header class="top">
  <div class="row topbar">
    <h1 id="logo" class="logo">
      <a href="{{ "/" | prepend: site.baseurl }}">Strata</a>
    </h1>
    <nav>
      <ul id="navigation" class="navigation">
{% if page.tab == 'intro' %}
        <li class="tabsel"><a href="{{site.baseurl}}/introduction/">Introduction</a></li>
        <li class="tabdesel"><a href="{{site.baseurl}}/docs">Documentation</a></li>
        <li class="tabdesel"><a href="{{site.baseurl}}/development">Development</a></li>
{% elsif page.tab == 'docs' %}
        <li class="tabdesel"><a href="{{site.baseurl}}/introduction">Introduction</a></li>
        <li class="tabsel"><a href="{{site.baseurl}}/docs">Documentation</a></li>
        <li class="tabdesel"><a href="{{site.baseurl}}/development">Development</a></li>
{% elsif page.tab == 'dev' %}
        <li class="tabdesel"><a href="{{site.baseurl}}/introduction">Introduction</a></li>
        <li class="tabdesel"><a href="{{site.baseurl}}/docs">Documentation</a></li>
        <li class="tabsel"><a href="{{site.baseurl}}/development">Development</a></li>
{% else %}
        <li class="tabdesel"><a href="{{site.baseurl}}/">Introduction</a></li>
        <li class="tabdesel"><a href="{{site.baseurl}}/docs">Documentation</a></li>
        <li class="tabdesel"><a href="{{site.baseurl}}/development">Development</a></li>
{% endif %}
        <li class="tabdesel"><a href="https://github.com/OpenGamma/Strata">Source Code</a></li>
        <li class="tabdesel"><a href="https://github.com/OpenGamma/Strata/releases">Download</a></li>
      </ul>
      <div class="og">
        <div class="og_logo"><a href="http://www.opengamma.com"><img alt="OpenGamma" src="{{ "/images/logo_topnav.png" | prepend: site.baseurl }}" /></a></div>
      </div>
    </nav>
  </div>
</header>
