<header class="top">
  <div class="row primarybar">
    <h1 class="title">
      <a href="{{ "/" | prepend: site.baseurl }}" title="Strata">Strata</a>
    </h1>
    <nav>
      <ul class="navigation">
        <li class="{% if page.tab == 'intro' %}tabsel{% else %}tabdesel{% endif %}"><a href="{{site.baseurl}}/introduction/" title="Introduction">Introduction</a></li>
        <li class="{% if page.tab == 'docs' %}tabsel{% else %}tabdesel{% endif %}"><a href="{{site.baseurl}}/docs" title="Documentation">Documentation</a></li>
        <li class="{% if page.tab == 'community' %}tabsel{% else %}tabdesel{% endif %}"><a href="{{site.baseurl}}/community" title="Community">Community</a></li>
      </ul>
    </nav>
    <p class="logo">
      <a href="http://www.opengamma.com" title="OpenGamma"><img alt="OpenGamma" src="{{ "/images/logo_topnav.png" | prepend: site.baseurl }}" /></a>
    </p>
    <ul class="links">
      <li class="tabdesel"><a href="https://github.com/OpenGamma/Strata" title="Source Code"><i class="fa fa-external-link fa-fw"></i> Source Code</a></li>
      <li class="tabdesel"><a href="https://github.com/OpenGamma/Strata/releases" title="Download"><i class="fa fa-external-link fa-fw"></i> Download</a></li>
    </ul>
  </div>
  <div class="row secondarybar">
    <nav>
      <ul class="navigation">
        <li class="{% if page.tab == 'intro' %}tabsel{% else %}tabdesel{% endif %}"><a href="{{site.baseurl}}/introduction/" title="Introduction">Intro</a></li>
        <li class="{% if page.tab == 'docs' %}tabsel{% else %}tabdesel{% endif %}"><a href="{{site.baseurl}}/docs" title="Documentation">Docs</a></li>
        <li class="{% if page.tab == 'community' %}tabsel{% else %}tabdesel{% endif %}"><a href="{{site.baseurl}}/community" title="Community">Community</a></li>
      </ul>
    </nav>
    <div class="toggle"><button type="button" id="toggle-menu" class="button--grey"><i class="fa fa-bars"></i></button></div>
  </div>
</header>
