{% capture tip %}
<div class="alert alert-tip">
  <span class="alert-title"><i class="fa fa-check-square-o"></i>Tip:</span>
{% endcapture %}

{% capture note %}
<div class="alert alert-note">
  <span class="alert-title"><i class="fa fa-info-circle"></i>Note:</span>
{% endcapture %}

{% capture important %}
<div class="alert alert-important">
  <span class="alert-title"><i class="fa fa-warning"></i>Important:</span>
{% endcapture %}

{% capture warning %}
<div class="alert alert-warning">
  <span class="alert-title"><i class="fa fa-exclamation-circle"></i>Warning:</span>
{% endcapture %}

{% capture end %}</div>{% endcapture %}
