<div id="sidebar" class="sidebar">
  <!--
  <div>
    <div class="searchbox">
      <form>
        <input type="text" id="st-search-input" class="searchbox-input" placeholder="Search docs" />
      </form>
    </div>
  </div>
  -->

  <section>
  {% for entry in site.data.sidebar %}
    <h2>{{entry.title}}</h2>
    <nav>
      <ul>
      {% for item in entry.items %}
        <li><a href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a></li>
      {% endfor %}
      </ul>
    </nav>
  {% endfor %}
  </section>

</div>
