<div id="sidebar" class="sidebar">

  <section>
  {% capture sidebar %}sidebar_{{ page.tab }}{% endcapture %}
  {% for entry in site.data[sidebar] %}
    <h2>{{entry.title}}</h2>
    <nav>
      <ul>
      {% for item in entry.items %}
        {% if page.url == item.url %}
          {% assign li_class = 'class="current"' %}
        {% else %}
          {% assign li_class = '' %}
        {% endif %}
        {% if item.external %}
          <li><a href="{{ item.url }}"><i class="fa fa-external-link-square fa-fw"></i> {{ item.title }}</a></li>
        {% else %}
          <li {{ li_class }}><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </nav>
  {% endfor %}
  </section>

</div>
