<div id="sidebar" class="sidebar">
  <!--
  <div>
    <div class="searchbox">
      <form>
        <input type="text" id="st-search-input" class="searchbox-input" placeholder="Search docs" />
      </form>
    </div>
  </div>
  -->
{% if page.tab == 'intro' %}
  {% assign datafile = site.data.sidebar_intro %}
{% elsif page.tab == 'docs' %}
  {% assign datafile = site.data.sidebar_docs %}
{% elsif page.tab == 'dev' %}
  {% assign datafile = site.data.sidebar_dev %}
{% else %}
  {% assign datafile = site.data.sidebar_intro %}
{% endif %}

  <section>
  {% for entry in datafile %}
    <h2>{{entry.title}}</h2>
    <nav>
      <ul>
      {% for item in entry.items %}
        <li><a href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a></li>
      {% endfor %}
      </ul>
    </nav>
  {% endfor %}
  </section>

</div>
