a
  color: $omega
  text-decoration: underline
  &:hover
    color: $theta-dark

p
  font-size: $font-size-sm
  color: $omega
  line-height: 1.5em

strong
  font-weight: 700

%code-styles
  border: 1px solid $theta-dark
  border-radius: 4px
  font-family: monaco, monospace
  font-size: $font-size-xs
  color: $omega
  font-style: normal
  background: $theta-light


code
  @extend %code-styles
  display: inline-block
  margin: 0 0 0 .3em
  padding: 0em 0.4em
  line-height: 1.7

a code
  text-decoration: underline

pre
  @extend %code-styles
  margin-top: 1em
  padding: 1em 1.5em
  line-height: 1.5em
  overflow-x: scroll

  code
    border: none

blockquote
  margin-left: 0
  margin-right: 0
  padding: .4em 1em
  font-size: $font-size-m
  border-radius: 4px
  font-style: italic
  background-color: $theta-light
  color: $omega
  strong
    text-transform: uppercase
    font-style: normal
  code
    color: $theta-dark
    border-color: $theta-dark
    background-color: $eta


table
  width: 100%
  border: 1px solid $theta-dark
  color: $omega

  td, th
    padding: 0.5em 0.6em 0.3em
    border-left: 1px solid $theta-dark
    border-right: 1px solid $theta-dark

  tr
    border-bottom: 1px solid $theta-dark

  thead
    background-color: $theta
    color: $omega
  th
    text-align: left
    font-weight: 700


