%reset-ul
  margin: 0
  padding: 0
  list-style: none

%bottom-border-light-blue
  border-bottom: solid $blue-light 1px

%header-link
  a
    color: $grey-medium
    text-decoration: none
    &:hover
      text-decoration: underline

%grey-heading
  @extend %header-link
  color: $grey-dark
  font-size: $font-size-xl
  font-weight: 400
  line-height: 1

%blue-heading
  @extend %header-link
  color: $blue-light
  font-size: $font-size-m
  margin-top: 2.3em
  font-weight: 600

%green-heading
  @extend %header-link
  color: $green-light
  font-size: $font-size-ml
  margin-top: 2.5em
  font-weight: 400

%ul-styles
  @extend %reset-ul
  color: $grey-dark
  line-height: 20px
  a
    text-decoration: none
