.top
  background-color: $green-light

  a
    display: block
    color: $white
    font-size: $font-size-sm
    cursor: pointer
    height: $top-height
    padding: 0 1.5rem
    line-height: $top-height + 2px
    border: none
    text-decoration: none


.primarybar
  font-size: $font-size-m

  ul
    padding: 0
    margin: 0
    height: $top-height
    list-style: none
    display: flex

    .tabsel
      background-color: $grey-dark

    .tabdesel a
      &:focus,
      &:active,
      &:hover
        background-color: $blue-light

  .title
    position: relative
    margin: -2px 1.5rem 0 $column-gutter/2
    float: left
    a
      font-size: $font-size-l
      font-weight: 600
      padding: 0


  nav
    display: none

    @media #{$large-up}
      display: block

    .navigation
      margin-left: 1rem
      float: left

      li
        font-weight: 600

  .links
    display: none
    float: right
    margin-right: $column-gutter/2

    @media #{$large-up}
      display: flex

  .logo
    float: right
    margin: 0
    img
      margin-top: -2px
      width: 118px
      height: 20px

.secondarybar
  
  background-color: $grey-light
  font-size: $font-size-m

  a
    color: $grey-dark
    padding: 0 $column-gutter/2

  ul
    padding: 0
    margin: 0
    height: $top-height
    list-style: none
    display: flex

    .tabsel
      background-color: $grey-dark

      a
        color: $white

  nav
    float: left

  .toggle		
    line-height: 1.5rem
    padding-top: .6em
    margin-right: $column-gutter/2
    text-align: right

  @media #{$large-up}
    display: none

