
$line-height: 22px
$line-height-log: 19px

$font-size-xs: 12px
$font-size-s: 14px
$font-size-sm: 15px
$font-size-m: 18px
$font-size-ml: 22px
$font-size-l: 28px
$font-size-xl: 36px

$blue-dark: #033C5A
$blue-light: #0D749D
$green-light: #0EA988
$grey-light: #EEEEEE
$grey-medium: #AAAAAA
$grey-dark: #444444
$white: #FFFFFF

$color-text: $grey-dark
$top-height: 55px
$footer-height: 210px
$footer-bg: $grey-light
$color-link: $grey-dark
