.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert i {
  margin-right: 0.5em;
}

.alert .alert-title {
  font-weight: 600;
  margin-right: 0.5em;
}

.alert-note {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

.alert-important {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

.alert-warning {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert-tip {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
